
* {
    box-sizing: border-box;
}

p {
    text-align: left;
}

.grid__row {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3em;
}


.img--logo {
    align-self: center;
}

.img--frame {
    max-width: 280px;
    padding: 10px;
    border: 0.5px solid grey ;
}

.nav {
    list-style: none;
    padding-left: 0;
}

.nav__item {
    height: 50px;
    padding: 12px;
    
}

.nav__item a {
    text-decoration: none;
    font-size: 20px;
}