.form {
    @include flexbox ($disp: flex,
        $dir: column,
        $wrap: wrap,
        $just: space-between);
        padding-top: 60px;
}

.form__label--hidden {
    display: none;
}

.form__input {
    @include border-base (
        $style: solid,
        $width: 0 0 em(6px) 0,
        $color: $color-primary);
    padding: 10px 0;
}