.form {
    @include flexbox ($disp: flex,
        $dir: column,
        $wrap: wrap,
        $just: space-between);
        padding-top: 60px;
        @include mq(large) {
            width: em(400px);
            padding-top: 0;
        }
}

.form__label--hidden {
    display: none;
}

.form__input {
    @include border-base (
        $style: solid,
        $width: 0 0 em(6px) 0,
        $color: $color-primary);
    padding: 10px 0;
    font-size: $font-size-sm;
    margin-bottom: em(30px);
    @include mq(large) {
        margin: 0 em(25px) em(30px);
        max-width: 350px;
    }
}