.grid__row {
    @include flexbox($dir: column, $just: space-between);
    text-align: center;
}

.grid__col--9 {
    padding-bottom: 60px;
}

.grid__col--12 {
    & p {
        padding-bottom: 80px;
    }
}

