.img--logo {
    align-self: center;
    padding-top: 40px;
    @include mq(medium) {
        padding: 0 0 0 20px;
        margin-top: em(25px);
    }
}

.img--avatar {
    margin: 20px auto;
    @include mq(large) {
        
    }
}

.img--frame {
    @include border-base (
    $style: solid,
    $width: em(1px),
    $color: $silver,
    $rad: null);
    padding: em(15px);
    max-width: 100%;
}

