
.nav {
    display: block;
    &__item {
        @extend %nav;
    }
    a {
        @extend %links;
        padding: 1em em(110px);
        color: $base;
        &:hover {
            color: $white;
        }
        @include mq(medium) {
            padding: 1em em(10px);
        }
    }
}

ul {
    @include mq(medium) {
    float: right;
    clear: right;
    }
}