.nav {
    display: block;
    a {
        text-decoration: none;
        padding: 1em em(110px);
        color: $base;
        &:hover {
            color: $white;
        }
        @include mq(medium) {
            padding: 1em em(10px);
        }
    }
}


.nav__item {
    font-size: $font-size-base;
    color: $base;
    width: 100%;
    padding: 1em 0;
    margin: auto;
    border-radius: $border-rad-base;
    &:hover {
        background: $color-primary;
        color: $white;
    }
    &:active {
        background-color: $color-primary;
        color: $white;
      }
}