.headline--secondary {
    @extend %headlines;
    font-weight: $font-weight-thin;
    padding: 20px 0 0 10px;
}

.headline--primary {
    @extend %headlines;
    font-weight: $font-weight-bold;
    color: $color-primary;
    padding-left: 20px; 
}

.container {
    font-family: $font-primary;
    font-size: $font-size-base;
    font-weight: $font-weight-light;
    color: $base;
}

.link {
    @extend %links;
    color: $color-secondary;
}

.blockquote {
    @include border-base (
        $style: solid,
        $width: 0 0 0 em(8px),
        $color: $color-primary,
        $rad: em(5px));
    text-align: left;
    font-size: $font-size-lg;
    font-style: italic;
    margin-left: em(10px);
    padding-left: em(15px);
    border-radius: $border-rad-base;
}